/* For Tablets */
@media all and (max-width: 1000px) {
  .header-left h3 {
    font-size: 28px;
  }
  .header-right {
    font-size: 18px;
  }
  .top-wrapper h2 {
    font-size: 35px;
  }
  .top-wrapper h1 {
    font-size: 45px;
    margin-left:100px;
    margin-right:100px;
  }
  .product {
    width:50%;
  }
  .contact-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-form .section-title {
    text-align:center
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .header-left h3 {
    font-size: 20px;
  }
  .btn-wrapper p {
    font-size: 13px;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
