/* For Tablets */
@media all and (max-width: 1000px) {
  .header-left h3 {
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-right {
    font-size: 16px;
  }
  .top-wrapper h2 {
    font-size: 35px;
  }
  .top-wrapper h1 {
    font-size: 45px;
    margin-left:100px;
    margin-right:100px;
  }
  .product {
    width:50%;
  }
  .contact-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-form .section-title {
    text-align:center
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .header-left h3 {
    font-size: 20px;
  }
  .btn-wrapper p {
    font-size: 13px;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .top-wrapper h2 {
    font-size: 23px;
  }
  .top-wrapper h1 {
    font-size: 28px;
    margin-left:auto;
    margin-right:auto;
  }
  .top-wrapper p {
    font-size: 18px;
  }
  .btn-wrapper p {
    font-size: 16px;
  }
  .email {
    margin-bottom: 10px;
  }
  .about-us p {
    font-size: 16px;
  }
  .product {
    width:100%;
  }
  .contact-form {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-form .section-title {
    text-align:center
  }
  .contact-form p {
    font-size: 15px;
  }
  input, textarea {
  width:200px;
  font-size: 15px;
  }
  footer p {
    font-size: 15px;
  }
}
