html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  float:left;
}

header {
  background-color: rgb(145,233,255);
  color: #fff;
  height:90px;
  width: 100%;
  position:fixed;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1170px;
  padding-left:15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  float:left;
}
.header-left {
  font-size:36px;
  float:left;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:40px;
  padding-left:20px;
  font-family:"Lucida Handwriting";
}
.header-right {
  float: right;
  transition: all 0.5s;
  font-size:18px;
  font-family:"Snell Roundhand";
  padding-top:20px;
  padding-bottom:20px;
}
.header-right a {
  line-height: 65px;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  display:block;
  float: left;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.home {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  color: white;
  background-image: url('background+image+top-wrapper-2_auto_x1.jpg');
  background-size: cover;
  text-align: center;
}
.top-wrapper h2 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.top-wrapper h1 {
  font-size:65px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  background-color:rgba(0,0,0, 0.5);
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom:20px;
}
.top-wrapper p {
  margin-bottom: 50px;
  font-size:25px;
}

.btn {
  padding: 12px 24px;
  opacity: 0.8;
  color: white;
  display: inline-block;
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}
.login {
  background-color: #641E16;
  margin-top:40px;
}
.email {
  background-color:#239b76;
  margin-right: 10px;
  margin-top:30px;
}
.facebook {
  background-color: #3b5998;
}
.btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-wrapper p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:16px;
}
.btn-wrapper a {
  font-size: 16px;
}
.fa {
  margin-right: 5px;
}

.aboutus-wrapper {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #F5E1C5;
}
.about-us .heading h2 {
  font-family: Palatino, "URW Palladio L", serif;
  font-weight: bold;
}
.about-us img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.about-us p {
  width: 70%;
  display: inline-block;
  text-align: center;
  margin-left: 170px;;
  margin-top: 50px;
  font-family: Palatino, "URW Palladio L", serif;
  line-height: 30px;
  font-size: 20px;
}

.catalog-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-image: url('background image catalog wrapper 4.jpg');
  background-size: cover;
  color: white;
}
.section-title {
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
}
.heading h2 {
  text-align: center;
  padding-top: 50px;
  font-family: Palatino, "URW Palladio L", serif;
  font-weight:bold;
}
.product {
  float: left;
  width: 25%;
  align: center;
  margin-top: 50px;
}
.product-icon img {
  margin-bottom: 20px;
}
.product-icon p {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  letter-spacing: 1px;
  text-align:center;
  font-family: Palatino, "URW Palladio L", serif;
  width: 80%;
  display: inline-block;
  background-color:rgba(0,0,0, 0.5);
}
.buy {
  margin-top: 10px;
  background-color: #ADD8E6;
  color:#151B54;
  cursor: pointer;
  font-family: Palatino, "URW Palladio L", serif;
}
.shopping {
  font-family: Palatino, "URW Palladio L", serif;
  background-color: #737CA1;
  margin-top: 40px;
  padding: 15px 40px;
  cursor: pointer;
  box-shadow: 0 7px #2B3856;
}
.shopping:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.contact-form {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fffdd0;
}
.contact-form .section-title {
  border-bottom: 2px solid #000000;
  padding-bottom: 15px;
}
.contact-form p {
  margin-top: 30px;
  font-size:20px;
}
input, textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
.contact-submit {
  background-color:#d4caa3;
  color:#000;
}

footer {
  background-color: rgb(92,225,230);
  color: white;
  font-family: "Century Gothic";
  padding-top: 10px;
  padding-bottom: 7px;
}
footer p {
  float: right;
  padding-top: 35px;
  font-size: 18px;
}
